* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: rgb(219, 219, 219);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  background: #fff;
}
.container {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

/* Side menubar section */
nav {
  background: skyblue;
  height: 100vh;
}
.side_navbar {
  padding: 1px;
  display: flex;
  flex-direction: column;
}

.side_navbar a {
  width: 100%;
  padding: 0.8rem 3rem;
  font-weight: 500;
  font-size: 15px;
  color: white;
}
.links {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.links a {
  font-size: 13px;
}
.side_navbar a:hover {
  background: rgb(235, 235, 235);
}
.side_navbar .active {
  border-left: 2px solid rgb(100, 100, 100);
}

/* Main Body Section */

.div-1 {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.card {
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  width: 22rem;
  height: 15rem;
  margin-top: 20px;
}
.title {
  padding: 10px;
}
.des {
  padding: 12px;
  justify-content: space-evenly;
  padding-top: 10px;
}
