* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 10rem;
}
.heading {
  margin-bottom: 50px;
  text-align: center;
}
.card-wrapper {
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.div-1 {
  display: flex;
}
.card {
  width: 32rem;
  background-color: #ebeef8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  box-shadow: 5rem, 5rem, 3rem rgba (0, 0, 0, 0, 2);
}
.div-2 {
  display: flex;
}
.div-3 {
  display: flex;
}
